* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: #ebefff;
  /* background-color: #eef1ff; */
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2679d7;
}
::-webkit-scrollbar-thumb:hover {
  background: #2679d7;
}
